<div class="container-fluid p-0">
    <div class="background-home">
    </div>
    <div class="background-image">
        <img src="{{ asset('build/circus_main-home.jpg') }}" alt="circus">
    </div>
    <div class="wild text-center">
        <h1 class="mr-5 pr-5 mb-n4 main-title">Wild</h1>
    </div>
    <div class="circus text-center">
        <h1 class="ml-5 pl-5 mt-n4">Circus</h1>
    </div>
    <div class="presentation">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <h2 class="text-center">Présentation</h2>
                <p class="text-center ml-2"> Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
                    mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les
                    années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un
                    livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi
                    adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé
                    dans les années 1960 grâce à la vente de feuilles</p>
            </div>
        </div>
    </div>
</div>