<div class="container-fluid spectacle">
    <h2 class="pb-5 text-center">Un Aperçu de nos spectacles</h2>
    <div class="row align-items-center">
        {% for spectacle in spectacles %}
            <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                <div class="card card-spectacle">
                    <img class="card-img-top" src="{{ asset('build/Circus_spectacle.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title text-center">{{ spectacle.name }}</p>
                        <p class="card-text text-center">{{ spectacle.presentation }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>