<nav class=" navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse " id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mr-5" href="{{ path('home') }}"><span class="nav-effect"><i class="fas fa-crown"></i></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="#"><span class="nav-effect"><i class="fas fa-fire"></i></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="{{ path('admin') }}"><span class="nav-effect"><i class="fas fa-key"></i></span></a>
            </li>
        </ul>
    </div>
</nav>
