<nav class=" navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse " id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mr-5" href="#"><span class="nav-effect">PART 1</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="#"><span class="nav-effect">PART 2</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-5" href="#"><span class="nav-effect">PART 3</span></a>
            </li>
        </ul>
    </div>
</nav>
