.formular-create {
    border:1px solid $secondary-color;
}

.btn-blue {
    color: $third-color;
    background-color: $first-color;
    font-size: 12pt;
}

.btn-blue:hover {
    background-color: $secondary-color;
}

.btn-white {
    color: $first-color;
    background-color: $third-color;
    font-size: 12pt;
}

.btn-white:hover {
    background-color: $first-color;
    color: $third-color;
}