body {
    overflow-x: hidden;
}

div.wild {
    position: absolute;
    bottom: 52%;
    left: 15%;

    .main-title {
        font-size: 180pt;
        margin-right: 150px;
    }
}

div.circus {
    position: absolute;
    bottom: 30%;
    left: 35%;

    h1 {
        font-size: 120pt;
    }
}

.background-image {
    position: absolute;
    bottom: 22%;
    left: 45%;
    height: 500px;
    width: 500px;

    img {
        height: auto;
        width: 850px;
    }
}

.background-home {
    height: 300px;
    width: 100%;
    background-color: $first-color;
}

.presentation {
    margin-top: 100px;
}

.spectacle {
    padding: 200px;
    background-color: $first-color;
}

.event {
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px ;
    padding-left: 100px;
    background-color: $secondary-color;
}

.card-img-top {
    box-shadow: 10px -16px darken($first-color, 10%);
}

.card-spectacle {
    width: 25rem;
    border: none;
    height: 65vh;
    background-color: transparent;
    border-bottom: 1px solid darken($first-color, 2%);
}

.card-event {
    width: 13rem;
    border: none;
    height: 40vh;
    background-color: $first-color;
    color: $third-color;

    svg {
        font-size: 50px;
    }

    svg.svg-inline--fa.fa-w-18 {
        font-size: 12pt;
    }
}

// CARDS

.fixed-image-event {

    img {
        position: relative;
        height: 50vh;
        width: auto;
        right: 20px;
    }

    img.image-bottom {
        bottom: 250px;
        height: 40vh;
        left: 200px;
    }

    div {
        height: 10px;

        .color-square {
            position: relative;
            height: 35vh;
            bottom: 10px;
            right: 40px;
            width: 100px;
            background-color: $first-color;
        }

        .color-square-bottom {
            position: relative;
            height: 35vh;
            bottom: 180px;
            left: 440px;
            width: 100px;
            background-color: $first-color;
        }
    }
}

.nav-link {
    svg {
        font-size: $font-size-title;
    }
}

.far.fa-eye {
    font-size: 12pt;
}

// MEDIA QUERIES

@media screen and (max-width: 1200px) and (min-width: 920px)
{
    body {
        overflow-x: hidden;
    }

    .fixed-event {
        display: none;
    }

    .card-event-display {
        flex: 0 0 100%;
        max-width: 100%;
    }
    div.container-fluid.event {
        margin-left: 0;
        padding-left: 0;
    }

}

@media screen and (max-width: 680px) {
    body {
        overflow-x: hidden;
    }

    div.wild {
        position: absolute;
        bottom: 450px;
        left: 0;

        .main-title {
            font-size: 180pt;
            margin-right: 150px;
        }
    }

    div.circus {
        position: absolute;
        bottom: 300px;
        left: 0;

        h1 {
            font-size: 120pt;
        }
    }

    .background-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width : 100vw;
        height : 600px;
        overflow-x: hidden;

        img {
            height: auto;
            width: 900px;
            overflow-x: hidden;
        }

    }

}


@media screen and (max-width: 600px)
{
    body {
        overflow-x: hidden;
    }

    .fixed-event {
        display: none;
    }

    .card-event-display {
        flex: 0 0 100%;
        max-width: 100%;
    }

    div.container-fluid.event {
        margin-left: 0;
        padding-left: 0;
    }

    .spectacle {
        margin-left : 0;
        margin-right : 0;
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (max-width: 430px) {
    main {
        div.container-fluid.p-0 {
            background-color: $third-color;
        }
    }

    div.wild {
        position: absolute;
        bottom: 470px;
        left: 0;

        .main-title {
            font-size: 130pt;
            margin-right: 100px;
        }
    }

    div.circus {
        position: absolute;
        bottom: 320px;
        left: 0;

        h1 {
            font-size: 80pt;
        }
    }

    .background-image {
        position: absolute;
        bottom: -250px;
        left: 0;
        height : 800px;
        background-color: $third-color;

        img {
            height: 1000px;
            //width: 1000px;
            overflow-x: hidden;
            background-color: $third-color;
        }

    }

}