body {
    overflow-x: hidden;
}

div.wild {
    position:absolute;
    bottom : 52%;
    left: 15%;

    .main-title{
        font-size: 180pt;
        margin-right: 150px;
    }
}

div.circus {
    position:absolute;
    bottom : 30%;
    left: 35%;

    h1 {
        font-size: 120pt;
    }
}

.background-image {
    position:absolute;
    bottom : 22%;
    left: 45%;
    height : 500px;
    width : 500px;

    img {
        height : auto;
        width: 850px;
    }
}

.background-home {
    height: 300px;
    width: 100%;
    background-color: $first-color;
}

.presentation {
    margin-top: 100px;
}
