$font-body : 'Roboto', sans-serif;
$font-title : 'Bebas Neue', cursive;
$first-color : #3f7e87;
$secondary-color : #d8e5e7;
$third-color : #f5f8f9;
$light-color : #e8e8e8;
$dark-color : #181c1a;
$font-size-title : 25pt;
$font-size-text : 14pt;
