$font-body : 'Roboto', sans-serif;
$font-title : 'Bebas Neue', cursive;
$first-color : #40c9a2;
$secondary-color : #a3f7b5;
$third-color : #e5f9e0;
$light-color : #e8e8e8;
$dark-color : #181c1a;
$font-size-title : 25pt;
$font-size-text : 14pt;
