@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "var";
@import "homepage";
@import "navbarFooter";
@import "admin";

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    font-size: $font-size-title;
}

p, li, a {
    font-family: $font-body;
    font-size: $font-size-text;
}

body {
    background-color: $third-color;
}
